.Anemo {
    color: #0ff1c4;
}

.Geo {
    color: #d7a23b;
}

.Electro {
    color: #c216fa;
}

.Dendro {
    color: #69f325;
}

.Hydro {
    color: #24c3fe;
}

.Pyro {
    color: #ff2323;
}

.Cryo {
    color: #0cecfa;
}