.Physical{
    color: #a5a5a5;
}
.Fire{
    color: #ff0000;
}
.Ice{
    color: #50b4dc;
}
.Lightning{
    color: #C216FA;
}
.Wind{
    color: #69F325;
}
.Quantum{
    color: #5A3CC8;
}
.Imaginary{
    color: #D7A23B;
}