/* 工具提示的基本样式 */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

/* 工具提示文本的样式 */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    /* 防止鼠标事件冲突 */
    opacity: 0;
    transition: opacity 0.3s;
}