/* 工具提示的基本样式 */
.tooltip {
    /* position: fixed;
    display: inline-block;
    border-bottom: 1px dotted black; */
    width: 100px;
    height: 50px;
}

/* 工具提示文本的样式 */
.tooltiptext {
    /* padding: 10px 10px; */
    /* width: 200px;
    height: 60px; */
    border: 1px rgb(0, 0, 0) solid;
    background: blue;
    color: white;
    opacity: 0.6;
    position: fixed;
    display: none;
}